html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}